body{
    background-color: #0D0D0D;
    color: #f9f6f6 !important;
    overflow: hidden;
}

.nav-tab{
    background-color: #0D0D0D;
}

.logo{
    width: 50px;
}

i{
    cursor: pointer;
}
.contantInput {
    box-shadow: 1px 1px 3px white;
  }
input{
    box-shadow: 1px 1px 3px white !important; 
}

.is-valid{
    border-bottom: #28a745 solid 1px !important;
    box-shadow: 1px 1px 3px #28a745 !important;

}
.inner-loading-screen{
    max-height: 100vh;
}

.meal-layer{
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: .5s;
}

.meal:hover .meal-layer{
    top: 0;
}

.side-nav-menu{
    z-index: 99;
}

.cursor-pointer{
    cursor: pointer;
}

.alert{
    width: fit-content;
}

.loading-screen{
    z-index: 999;
    display: flex;
}

.inner-loading-screen{
    position: absolute;
    z-index: 9;
    background-color: #0D0D0D;
    display: flex;
}
@media screen and ( max-width : 800px )  {
    body{
        padding: 0 !important;
    }
  }